### NodeJS
## Logs
*.log

## Dependency directories
node_modules

/.nyc_output
/dist
/lib
/package-lock.json
/tmp

## dotenv environment variables file
.env

### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### JetBrains
## Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
## Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/

## User-specific stuff
#.idea/**/workspace.xml
#.idea/**/tasks.xml
#.idea/**/dictionaries
#.idea/**/shelf
